header {
    background-color: rgb(76, 43, 226);
    border: red 1px solid;
    color: white;
    padding: 6px;
    height: 10%;

}
nav{
    background-color: orange;
    border: green 5px solid;
    color: black;
    margin: 15px;
    padding-bottom: 10px;

}

aside{
    background-color: orange;
    border: red 1px solid;
    display: inline-block;
    width: 23%;
    height: 70%;


}

main{
    background-color: orangered;
    border: blue 1px solid;
    display: inline-block;
    width: 52%;
    height: 70%;
    
}

html, body{
    height: 100%;
}

article{
    background-color: yellow;
    display: block;
    height: 15%;
    margin: 5px;
}

Footer{
    background-color: fuchsia;
    height: 10%;
}